* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    
    grid-column: 2/3;
    margin: 1rem;
    

}
    
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    color: steelblue;
    border-bottom: #333;
}


p {
    padding: 0px;
}


aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* -------------------------------------
   Class Selectors
---------------------------------------- */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #e917bb; 
    color: #333; 
    border: 1px solid #ddd;
}
 
main img {
    width: 150px ;
    height: auto ;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow:  0  0 30px gray;
    float: right;
}
aside {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 2px; 
    left: 300px; 
}

header, .grid,  footer {
    max-width: 840px;
    margin: 0 auto ;
}
.grid{
    display: grid;
    align-items: center;
}